In [1]:
import pandas as pd

In [4]:
n=[i for i in range(10)]
n

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
n=[i for i in range(10) if i%2==0]
n

[0, 2, 4, 6, 8]

In [7]:
#it is same as
n=[]
for i in range(10):
    if i%2==0:
        n.append(i)
print(n)

[0, 2, 4, 6, 8]

In [8]:
#if else
n=[1 if i<=5 else 0 for i in range(10)]
n

[1, 1, 1, 1, 1, 1, 0, 0, 0, 0]

In [9]:
#it is same as 
n=[]
for i in range(10):
    if i<=5:
        n.append(1)
    else:
        n.append(0)
print(n)

[1, 1, 1, 1, 1, 1, 0, 0, 0, 0]

##### operate on strings

In [11]:
fruits=["apple","banana","mango","orange"]

In [12]:
f=[x for x in fruits]
f

['apple', 'banana', 'mango', 'orange']

In [13]:
f=[x for x in fruits if x!='mango']
f

['apple', 'banana', 'orange']

In [15]:
#replace mango with banginapalli
f=[x if x!='mango' else 'banginapalli' for x in fruits]
f

['apple', 'banana', 'banginapalli', 'orange']

In [16]:
#apply function upper
f=[x.upper() if x!='mango' else 'banginapalli' for x in fruits]
f

['APPLE', 'BANANA', 'banginapalli', 'ORANGE']

In [21]:
#count number of vowels in each string
def vowel_count(s):
    vc=0
    s=s.lower()
    for v in "aeiou":
        c=s.count(v)
        vc=vc+c
    return vc
        
number_of_vowels=[vowel_count(x) for x in fruits]
number_of_vowels

[2, 3, 2, 3]

In [27]:
#update salary by adding some increment. if sal is >=50000 then inc is 20%, else inc is 10%
def sal_update(sal):
    if sal>=50000:
        sal=sal+sal*0.2
    else:
        sal=sal+sal*0.1
    return sal

#salary of 5 employees
salary=[40000,50000,60000,20000,70000]
salary1=[sal_update(sal) for sal in salary]
print(salary)
print(salary1)

[40000, 50000, 60000, 20000, 70000]
[44000.0, 60000.0, 72000.0, 22000.0, 84000.0]

In [28]:
# find all the numbers in the range 5 to 10
n=[10,2,20,7,40,9]
r=[i for i in n if i>=5 and i<=10]
r

[10, 7, 9]

In [29]:
#or
def five2ten(i):
    if i>=5 and i<=10:
        return True
n=[10,2,20,7,40,9]
r=[i for i in n if five2ten(i)]
r

[10, 7, 9]

#### set comprehension

In [30]:
r={i for i in range(10)}
r

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
r={1 if i%2==0 else 0 for i in range(10)}
r

{0, 1}

#### dictionary comprehension

In [32]:
d={i:i*i for i in range(5)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### walrus operator (:=)

In [35]:
#return temparature if it is more than 100 degrees Fahrenheit
import random
def get_temp():
    return random.randrange(90,110)
temp=[t for i in range(20) if (t:=get_temp())>100]
temp

[107, 103, 106, 105, 109, 101]

#### nested comprehension